<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>All Users</title>
<script src="https://kit.fontawesome.com/7231b51d24.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<style type="text/css">
body {
  font-family: Helvetica, sans-serif;
}
</style>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Welcome Administrator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="dashboard"><i class="fas fa-home fa-2x"></i></a>
				</li>
			</ul>
			<a class="btn btn-secondary btn-lg active" th:href="@{/logout}"
				type="button"><i class="fas fa-sign-out-alt"></i></a>
		</div>
	</nav>

	<div class="card" style="padding: 5px;">
		<div class="card-body">
			<h5 class="card-title">Search for a Student</h5>
			<form method="post" th:action="@{searchUsers}" class="form">
				<input type="text" class="form-control" th:value="${search}"
					th:name="search" style="width: 500px;">
				<button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search fa-2x"></i></button>
			</form>
		</div>
	</div>

	<div style="padding: 25px;">

		<table class="table table-striped table-light">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Surname</th>
					<th scope="col">Department</th>
					<th scope="col">Email</th>
					<th scope="col">Role</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${UserList}">
					<td th:text="${user?.idUser}"></td>
					<td th:text="${user?.Name}"></td>
					<td th:text="${user?.Surname}"></td>
					<td th:text="${user?.idDepartment.Name}"></td>
					<td th:text="${user?.Email}"></td>
					<td th:text="${user?.Role}"></td>
					<td>
						<form th:action="@{updateUser}">
							<button class="btn btn-outline-success" type="submit"
								th:name="idUser" th:value="${user.idUser}"><i class="far fa-edit"></i></button>
						</form>
					</td>
					<td>
						<form th:action="@{removeUser}">
							<button class="btn btn-outline-danger" type="submit"
								th:name="idUser" th:value="${user.idUser}"><i class="far fa-trash-alt"></i></button>
						</form>
					</td>
				</tr>
				<tr>
			</tbody>
		</table>

	</div>

</body>
</html>