<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <head>
       <title>New Course Semester</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Welcome Administrator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="btn btn-secondary btn-lg active" th:href="@{/logout}" type="button">Logout</a>
  </div>
</nav>

<div class="card" style="width: 65rem; padding: 10px">

<form method="post" th:object="${courseSemester}" th:action="@{/addCourseSemester}" class="form">

  <div class="form-group">
    <label for="courseList" class="col-sm-2 col-form-label">Course</label>
    <div class="col-sm-10">
      <select id="Course" class="form-control" th:field="*{idCourse.idCourse}">
  		<option th:each="course : ${courseList}" th:value="${course.idCourse}" th:text="${course.courseName}"></option>
 	  </select>
    </div>
  </div>
  
    <div class="form-group">
    <label for="semesterList" class="col-sm-2 col-form-label">Semester</label>
    <div class="col-sm-10">
      <select id="Semester" class="form-control" th:field="*{idSemester.idSemester}">
  		<option th:each="semester : ${semesterList}" th:value="${semester.idSemester}" th:text="${semester.semesterName} +' '+  ${semester.year} "></option>
 	  </select>
    </div>
  </div>
  
  <div class="form-group">
    <label for="StudentsRegistered" class="col-sm-2 col-form-label">Students Registered</label>
    <div class="col-sm-10">
      <input id="StudentsRegistered" type="text" class="form-control" th:field="*{studentsRegistered}">
    </div>
  </div>
  
  <div class="form-group">
    <label for="AvailableSeats" class="col-sm-2 col-form-label">Available Seats</label>
    <div class="col-sm-10">
      <input id="AvailableSeats" type="text" class="form-control" th:field="*{availableSeats}">
    </div>
  </div>
  
    <div class="form-group">
    <label for="availability" class="col-sm-2 col-form-label">Availability</label>
    <div class="col-sm-10">
      <select id="availability" class="form-control" th:name="availability" th:value="${availability}" th:field="*{availability}">
  		<option th:value="0" th:text="False"></option>
  		<option th:value="1" th:text="True"></option>
 	  </select>
    </div>
  </div>
  
  	<button type="submit" class="btn btn-outline-secondary">Submit
  	</button>
</form>

</div>

   </body>
</html>